body {
    text-align: center;
    background-color: black;
  }
img {
    max-width:15%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    color: black;
}
h1 {
    background-color: black;
    text-align: center;
    margin-bottom: 1px;
    color: white;
    font-size: 20px;
}
h2{
    color: lightskyblue;
    background-color:darkred;
    text-align: center;
}
ul {
    color: black;
    text-align: left;

}
.container {
    width: 60%;
    margin: auto;
    border: 3px solid black;
    background-color: white;
}
.experience {
    color: lightskyblue;
    background-color:darkturquoise;
    text-align: center;
}
